{% extends "donos/base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'donos/drive_detail.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <main>
        <div id="profile-upper">
            <div id="profile-banner-image">
                <img src="https://vignette.wikia.nocookie.net/villains/images/d/df/OfficialAkatsuki.jpeg/revision/latest?cb=20190207004731"
                     alt="Banner image">
            </div>
            <div id="profile-d">
                <div id="u-name">{{ drive.title }}</div>
                <div class="tb" id="m-btns">
                    <div class="td">
                        {% if user.is_authenticated %}
                            {% if follows %}
                                <a id="follow-button" class="btn btn-danger btn-sm mt-1 mb-1"
                                   href="{% url 'drive-unfollow' object.id %}">Unfollow</a>
                            {% else %}
                                <a id="follow-button" class="btn btn-info btn-sm mt-1 mb-1"
                                   href="{% url 'drive-follow' object.id %}">Follow</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="td">
                        <a class="donate" href="{% url 'drive-donate' pk=object.id fnum=1 %}">Donate</a>
                    </div>
                </div>
            </div>
            <div id="black-grd"></div>
        </div>
        <div id="main-content">
            <div class="tb">
                <div class="td" id="l-col">
                    <div class="l-cnt">
                        <div class="cnt-label">
                            <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                            <a class="mr-2"
                               href="{% url 'donos-organization-view' drive.orgID.id %}"><span>{{ drive.orgID }}</span></a>
                        </div>
                        <div id="i-box">
                            <div id="intro-line"><small>{{ drive.start_date|date:"F d, Y" }}
                                - {{ drive.start_date|date:"F d, Y" }}</small></div>
                            <div id="u-occ">Drop Off
                                Location: {{ drive.address }}, {{ drive.city }}, {{ drive.state }} {{ drive.zipcode }}</div>
                            {% for category in object.category.all %}
                                <span class="badge badge-primary">{{ category.name }}</span>
                            {% endfor %}
                            <div id="u-occ">Total Donations: {{ total_dono }}</div>
                        </div>
                    </div>
                </div>
                <div class="td" id="m-col">
                    <div class="m-mrg" id="p-tabs">
                        <div class="tb">
                            <div class="td">
                                <div class="tb" id="p-tabs-m">
                                    {% if object.author == user %}
                                        <div class="td">
                                            <a href="{% url 'drive-update' object.id %}">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                <span>Update Drive</span>
                                            </a>
                                        </div>
                                        <div class="td">
                                            <a href="{% url 'drive-notification-post' object.id %}">
                                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                                <span>Create Post</span>
                                            </a>
                                        </div>
                                        <div class="td">
                                            <a href="{% url 'drive-donations' object.id %}">
                                                <i class="fa fa-gift" aria-hidden="true"></i>
                                                <span>Donations</span>
                                            </a>
                                        </div>
                                        <div class="td">
                                            <a href="{% url 'drive-delete' object.id %}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                <span>Delete Drive</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-mrg" id="composer">
                        <div id="c-c-main">
                            <div class="tb">
                                <div class="td" id="c-inp">
                                    <p class="article-content">{{ drive.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    {% for notification in notifications %}
                        <div class="post">
                            <div class="tb">
                                <a href="#" class="td p-p-pic"><img src="https://imagizer.imageshack.com/img923/2452/zifFKH.jpg"></a>
                                <div class="td p-r-hdr">
                                    <div class="p-u-info">
                                        <h2>{{ notification.title }}</h2>
                                    </div>
                                    <div class="p-dt">
                                        <span>{{ notification.date_posted|date:"F d, Y" }}</span>
                                    </div>
                                    <div class="media-body">
                                        <p class="article-content">{{ notification.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



{% endblock %}

