{% extends "donos/base.html" %}
{% block content %}
    {% for drive in drives %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ drive.author }}</a> // <a class="mr-2" href="#">{{ drive.orgID }}</a>
              <small class="text-muted">{{ drive.start_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'drive-detail' drive.id %}">{{ drive.title }}</a></h2>
            <p class="article-content">{{ drive.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}