{% extends "donos/base.html" %}
{% block content %}
    <h1>Drives I Own</h1>
    {# display city and state filter buttons if user is logged in#}
    {% if user.is_authenticated %}
        <div>
        <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'donos-home-city' user.username %}">City</a>
        <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'donos-home-state' user.username %}" >State</a>
        <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'donos-home-follow' user.username %}" >Follow</a>
        {% if user.organization %}
            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'donos-home-yours' user.username %}" >Yours</a>
        {% endif %}
        </div>
    {% endif %}
    {% for drive in drives %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ drive.author }}</a> // <a class="mr-2" href="#">{{ drive.orgID }}</a>
              <small class="text-muted">{{ drive.start_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'drive-detail' drive.id %}">{{ drive.title }}</a></h2>
            <p class="article-content">{{ drive.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class='btn btn-outline-info mb-4'href="?page=1">First</a>
            <a class='btn btn-outline-info mb-4'href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class='btn btn-info mb-4'href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3' %}
                <a class='btn btn-outline-info mb-4'href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class='btn btn-outline-info mb-4'href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class='btn btn-outline-info mb-4'href="?page={{ page_obj.paginator.num_page }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}