{% extends "donos/base.html" %}
{% block content %}
    <h1>Donations</h1>
    <a href="{% url 'users-announcements-drives' %}">Drive Notifications</a>
    {% for donation in data %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'drive-donation-view' donation.drive.id donation.id %}">{{ donation.date|date:"Y-m-d" }}:{{ donation.id }}</a></h2>
            <p class="article-content">Approved: {{ donation.approved }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}

