{% extends "donos/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email}}</p>
            <p class="text-secondary">{{ user.profile.address}}, {{ user.profile.city }},
                {{ user.profile.state }} {{ user.profile.zipcode }}</p>
        </div>
          {% if user.organization %}
            <div>
              <a href="{% url 'donos-organization-view' user.organization.id%}">Organization</a>
            </div>
          {% else %}
            <div>
              <a href="{% url 'donos-new_organization' %}">Organization</a>
            </div>
          {% endif %}

      </div>
        <a href="{% url 'users-settings' %}">Settings</a>
    </div>
    <div>
        <h2>User Stats</h2>
        <div>
            <div>
                Submitted Donations: {{ donations }}
            </div>
            <div>
                Approved Donations: {{ donations_approved }}
            </div>
            <div>
                {% if fav_drive is not None and fav_drive_donations is not None %}
                    <h3>Favorite Drive</h3>
                  <a href="{% url 'drive-detail' fav_drive.id %}">{{ fav_drive.title}}</a> with a total of {{ fav_drive_donations }} donations!
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
